/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* ========================================================================= */
:root {
  --bg-color: #fef0db;
  --primary-color: #eea57c;
  --secondary-color: #ffb6af;
  --font-color: #3d3833;
}
body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--font-color);
  height: 100vh;
}

nav {
  padding: 1rem;
}
ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.icon {
  width: 20px;
}
.icon-a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
}
#about a {
  color: var(--bg-color);
  transition: color 0.3s;
}

#about a:hover {
  color: var(--font-color);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
a:hover span {
  color: var(--secondary-color);
}
a:hover {
  text-decoration: underline wavy var(--secondary-color);
}
.active {
  color: var(--primary-color);
}

.img-container {
  position: relative;
}
.kittyimg {
  height: 200px;
  margin: auto;
}
.chat {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.kittyimg:hover + .chat {
  display: block;
}
.chat p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chatimg {
  width: 100px;
}

.button {
  padding: 1rem 2rem;
  border: 5px solid var(--secondary-color);
  border-radius: 20px;
  color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
}

.fill {
  background-color: var(--secondary-color);
}
.button.fill:hover {
  background-color: var(--primary-color);
}

.button.demo:hover {
  background-color: var(--secondary-color);
}
.btn-box {
  margin-block: 2rem;
}
.btn-box * {
  margin-inline: 1rem;
}

.info {
  position: absolute;
  top: 250px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--primary-color);
  display: none;
}
#about {
  display: block;
}
.info-box {
  margin: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-inline: 2rem;
}
/* mobile /table */
@media (min-width: 600px) {
  .container {
    width: 100%;
  }
}
/* desktop  */
@media (min-width: 768px) {
  section {
    margin-top: 4rem;
  }
  .container {
    position: relative;
    width: 60%;
    padding: 1rem;
    margin: auto;
  }
  .info {
    top: 170px;
  }
  .info-box {
    top: 50%;
  }
  ul {
    flex-direction: row;
  }
  .fitness {
    top: 0;
  }

  .other-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .other-btn {
    padding: 0.25rem 0.5rem;
  }
}
